<header>
<h1>YOUR MARKET</h1>
</header>


<body>

<h2>Take Away n Least Pay</h2>


  <header class="bg-success text-white p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <font face="Comic sans MS" 
                    size="11" color="black">
                    <strong>To make your List </strong>
                </font>
                   
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h1>All the electronics at reaonable prize ,,,,,as never before </h1>
    <h2>Product List</h2>
</div>

  <table>
    <th>
     
      <img src="assets/mobilephones.png" alt="image-here" width="100px">
      <img src="assets/headphones.png" alt="image-here" width="100px">
      <img src="assets/laptop.png" alt="image-here" width="100px">
      
    </th>
    <th>
      <!-- <p> -->
        <ol type="1">
        1.Mobile phone     <button type="button" onclick="buy()">Buy</button><br>
        2.Headphone        <button type="button" onclick="buy()">Buy</button><br>
        3.Smart Watch      <button type="button" onclick="buy()">Buy</button><br>
        4.Earphones        <button type="button" onclick="buy()">Buy</button><br>
        5.Laptop           <button type="button" onclick="buy()">Buy</button><br>
        6.desktop          <button type="button" onclick="buy()">Buy</button><br>
        </ol>
      <!-- </p> -->
    </th>
    
    <th>
      <img src="assets/smartwatch.png" alt="image-here" width="100px">
      <img src="assets/earphones.png" alt="image-here" width="100px">
      <img src="assets/desktop.png" alt="image-here" width="100px">
      
      
    </th>
  </table> 
    
<app-list [prodList]="prodList"></app-list>
<app-listsec [prods]="prodList"></app-listsec>

   
<footer class="bg-success text-white p-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <font face="Comic sans MS" 
                  size="11" color="black">
                  <strong>Happy Shopping</strong>
              </font>
                 
          </div>
      </div>
  </div>
</footer>
    
    <!-- <label>enter x value :</label>
    <input type="text" id="xvalue" value="">
    <br>
    <label>enter the y value </label>
    <input type="text" id="yvalue" value="">
    <br>
    <button onclick="itemadded()">+ADD</button>
    <input type="text" id="resultid" value=""> -->
   <!-- <div class="container">
       <input id="input" type="text">
       <button onclick="itemadded()">+ADD</button>
        <div class="to-buy" id="todoshopping">
        </div>
   </div>
   <h3 id="list"></h3> -->

<!-- <div class="button">
<a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
    <span>Learn Angular</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>   
 </a>
</div>
<a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
    <span>CLI Documentation</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a> -->


<router-outlet></router-outlet>

</body>
